#app {
  font-family: 'Mulish', serif;
  font-size: 14px;
  max-width: 400px;
  height: 85vh;
  padding: 20px;
  padding-top: 50px;
  border-radius: 40px;
  border: 1px solid #e5e5e5;
  margin: auto;
  position: relative;
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.15),
    0 1px 3px rgba(0, 0, 0, 0.1);
}
